 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif Khmer", serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

header {
    height: 100px;
    background: rgba(0, 0, 50, 0.1);
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px #000000;
    z-index: 99;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 25, 148, 1), rgba(137, 137, 255, 1));
    overflow-x: hidden;
}

.login-form {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 500px;
    height: 440px;
    background: rgba(0, 0, 0, 0.175);
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px black;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box {
    position: relative;
}

.form-box h2 {
    text-shadow: 0 5px 10px black;
    font-size: 2em;
    color: green;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 255, 30);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 200;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    left: 95%;
    line-height: 57px;
    font-size: 1.2em;
    color: #ffffff;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(0, 255, 102);
    right: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 5, 70);
    font-weight: 100;
}

@media (max-width: 480px) {
    .wrapper {
        width: 300px;
        height: 450px;
    }

    .form-box h2 {
        font-size: 25px;
    }
}