* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif Khmer", serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    margin: 0;
    padding: 0;
}

header {
    height: 82px;
    background: rgba(0, 0, 50, 0.1);
    position: sticky;
    top: 0;
    box-shadow: 0 5px 8px #000000;
    z-index: 99;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(82, 82, 255), rgb(82, 82, 255));
    margin: 0;
    padding: 0;
}

.admin-nav {
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(172, 237, 180);
}

.admin-nav h1 {
    margin: auto;
    color: rgb(0, 90, 0);
    text-shadow: 2 2 8px #000000;
}

.admin-nav #admin-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#admin-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 30%;
}

#admin-menu li a {
    text-decoration: none;
    color: rgb(0, 90, 0);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

#admin-menu li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

#admin-menu li a:hover::after {
    width: 100%;
}

#admin-menu {
    display: none;
}

#admin-menu.active {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #0a4800;
}

.admin-section {
    width: 100%;
    padding: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.alert-success {
    background-color: #6ef8d7;
    color: #004e1b;
    border: 1px solid #006e04;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-primary {
    background-color: #000b37;
    color: #7cffc0;
    border: 1px solid #8fbaff;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-info {
    background-color: #000d40;
    color: #7cffc0;
    border: 1px solid #8fbaff;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    font-size: 14px;
    table-layout: fixed;
}

#num {
    text-align: center;
}

.admin-table th {
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid #acacac;
}

.admin-table td {
    border: 1px solid #000;
    padding: 10px;
    font-size: 12px;
    text-align: justify;
    border-bottom: 1px solid #969696;
    word-wrap: break-word;
    /* allow wrapping long words/urls */
    overflow-wrap: hidden;
    /* modern equivalent */
}

.admin-table thead {
    background: #b7ff7a;
    font-weight: bold;
}

.edit-btn {
    color: #005300;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn:hover {
    color: #0d00c4;
}

.edit-btn:active {
    color: #000000;
}

.remove-btn {
    color: red;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.remove-btn:hover {
    color: #0d00c4;
}


.submitbtn {
    background-color: lightpink;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    width: 10%;
    height: 20%;
    margin-left: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.submitbtn:hover {
    filter: brightness(0.90);
}

.top {
    text-decoration: none;
    color: rgb(85, 144, 255);
    margin-left: 48.2%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 9%;
    height: 50%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.top:hover {
    filter: brightness(0.90);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 50px;
    background-color: rgb(172, 237, 180);
}

footer p {
    color: rgb(0, 90, 0);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2 5 9px #000000;
    margin-top: 15px;
}

#logo {
    width: 90px;
    height: 80px;
}

@media (max-width: 700px) and (max-width: 1000px) {

    header {
        height: 60px;
    }

    .admin-nav h1 {
        font-size: 20px;
        font-weight: bold;
        margin-left: 3%;
    }

    .admin-nav #admin-menu {
        justify-content: center;
        gap: 10px;
    }

    .admin-nav #admin-menu li {
        right: 0;
        margin: 0 10px;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 87%;
        z-index: 9999;
    }

    .admin-nav #admin-menu {
        display: none;
        flex-direction: column;
        color: white;
        background: rgba(0, 0, 0);
        position: absolute;
        top: 70px;
        right: 9px;
        padding: 15px;
        border-radius: 10px;
    }

    .admin-nav #admin-menu.active {
        display: flex;
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 8px #000000;
        position: absolute;
        top: 45px;
        right: 20px;
        padding: 15px;
        border-radius: 10px;
        z-index: 99999;
    }

    .submitbtn {
        text-align: center;
        padding: 5px;
        font-size: 15px;
        width: 7rem;
        margin-left: 64%;
    }

    .admin-section {
        background-color: rgb(0, 55, 255);
        border-radius: 5px;
    }

    .admin-table thead {
        display: none;
    }

    .admin-table,
    .admin-table tbody,
    .admin-table tr {
        display: block;
        border-radius: 5px;
        width: 100%;
    }

    .admin-table tr {
        background: #ffffff;
        border-bottom: 3px solid #000;
        padding: 15px 15px 20px;
        position: relative;
    }

    .row-num {
        position: absolute;
        left: -32px;
        color: #0c6900;
        top: 200px;
        font-weight: bold;
        border: none !important;
        border-right: dashed 1px #000 !important;
        font-size: 40px !important;
    }

    .business-name {
        display: block;
        font-size: 30px !important;
        text-align: center !important;
        font-weight: bold;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    .admin-table td {
        display: block;
        font-size: 14px;
        margin-left: 35px;
        margin-bottom: 6px;
        border: none;
        border-bottom: solid 1px#000;
        padding: 0;
    }

    .admin-table td:not(.business-name):not(.row-num):not(.actions)::before {
        content: attr(data-label) " ";
        font-weight: bold;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        border: none !important;
        align-items: center;
        margin-top: 12px;
        white-space: nowrap;
    }

    .edit-btn {
        color: green;
        font-size: 30px;
        margin-right: 9px;
        font-weight: bold;
        text-decoration: none;
    }

    .remove-btn {
        color: red;
        font-weight: bold;
        background: none;
        border: none;
        margin-left: 30%;
        cursor: pointer;
    }

    .top {
        font-size: 10px;
        font-weight: bold;
        width: 7rem;
        margin-left: 37%;
    }
}