* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif Khmer", serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

header {
    height: 100px;
    background: rgba(0, 0, 50, 0.1);
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px #000000;
    z-index: 99;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 12, 69), rgb(82, 82, 255));
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

.logo {
    width: 300px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 5px;

}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #00a531;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;    
}

.admin_link {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.admin_link a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 255, 42);
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;

}