* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif Khmer", serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


header {
    height: 100px;
    background: rgba(0, 0, 50, 0.1);
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px #000000;
    z-index: 99;
    min-height: 100px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #6aa4d3;
    overflow-x: hidden;
}

:root {
    --header-h: 100px;
}

.background::before {
    content: "";
    background-image: url(HOME-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.30;
}

/*BROWSE BUSINESS BUTTON ON HOMEPAGE*/
.btnBrowse {
    width: 200px;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    margin: 15px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: large;
    border: 2px solid rgb(0, 177, 0);
    background-color: #00a531;
    box-shadow: 0 0 8px#000000;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btnBrowse:hover {
    filter: brightness(0.90);
}

.btnBrowse:active {
    color: #4261ff;
}

section {
    padding: 20px 20px;
    min-height: 80vh;
}

/*NAVIGATION BAR*/
.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

.logo {
    width: 300px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0 auto;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 1%;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(129, 254, 187);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}


/*HOMEPAGE SECTIONS*/
#home {
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--header-h));
}

#about {
    min-height: 100vh;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
    margin-bottom: 3%;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.logo1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 300px;
    animation: dropBounce 2s ease-out;
    cursor: pointer;
    padding-top: 100px;

}

@keyframes dropBounce {

    /**logo intro animation**/
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    60% {
        transform: translateY(30px);
        opacity: 1;
    }

    80% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.hovercontainer {
    /**locally viral effect**/
    display: inline-block;
    position: relative;
    text-align: center;
}

.explosive-text {
    margin-top: 5px;
    font-size: 3rem;
    color: #11cf0e;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-out;
}

.explosive-text:hover {
    transform: scale(1.1);
}

.explosive-text:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: burst 0.8s ease-out forwards;
}

.explosive-text:hover::before {
    background: radial-gradient(circle, #3f3fff, transparent);
    z-index: -1;
}

.explosive-text:hover::after {
    background: radial-gradient(circle, #3f3fff, transparent);
    z-index: -2;
}

@keyframes burst {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

.content h1 {
    font-size: 70px;
    color: rgb(129, 254, 187);
    text-shadow: 2px 2px 8px #000000;
}

.content p {
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: aliceblue;
    text-shadow: 0 0 10px#000000;
}

.about-section {
    color: rgb(129, 254, 187);
    font-size: 25px;
    text-align: center;
    text-shadow: 0 2px 8px #000000;
}

.about-desc {
    color: #fff;
    margin-top: 70px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    border-radius: 30px;
    padding: 50px;
    background-color: rgb(4, 0, 65, 0.5);
    box-shadow: 0 0 7px #000000;
}

.about1 {
    width: 60%;
    text-align: justify;
    font-size: 35px;
    background-color: #4366e4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
}

#meyc {
    text-decoration: none;
    color: #acff75;
}

#meyc:hover {
    text-decoration: underline;
    color: rgb(0, 255, 0);
}


.about2 {
    width: 10%;
    text-align: center;
    list-style: none;
    font-size: 50px;
    padding: 5px;
    margin: auto;
    text-shadow: 0 2 5px #000000;
}

.about2 li a {
    text-decoration: none;
    color: #acff75;
    margin: 10px;
}

.about2 li a:hover {
    text-decoration: underline;
    color: rgb(0, 255, 0);
}

.about3 {
    width: 10%;
    text-align: center;
    list-style: none;
    font-size: 50px;
    margin: auto;
    text-shadow: 0 2 5px #000000;
}

.about3 li a {
    text-decoration: none;
    color: #acff75;
    margin: 10px;
}

.about3 li a:hover {
    text-decoration: underline;
    color: rgb(0, 255, 0);
}

.container-sec h1 {
    text-shadow: 0 2px 8px #000000;
}

.category-section {
    color: rgb(129, 254, 187);
    font-size: 25px;
    text-align: center;
}


.category-desc {
    color: #000000;
    font-size: 35px;
    margin-top: 70px;
    align-items: justify;
    border-radius: 30px;
    padding: 90px;
    box-shadow: 0 5px 10px #31620088;
    background-image: url(cat-bg.png);
}

.desccat {
    background-color: rgba(126, 171, 255, 0.752);
    box-shadow: 0 0 10px #00000088;
    border-radius: 30px;
    padding: 30px;

}

#cat {
    margin-top: 40px;
}

/*CONTACT FOOTER*/
#logo {
    width: 100px;
}

#local {
    display: flex;
    align-items: center;
    right: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 59px;
    height: 50px;
    background: rgb(4, 0, 65, 0.5);
    color: rgb(129, 254, 187);
    font-size: 20px;
}

.contact {
    text-align: center;
    margin-bottom: 10px;
}

.admin-num {
    text-decoration: none;
    color: #98ff98;
}

.admin-num:hover {
    color: rgb(106, 106, 255);
}

#emaill {
    text-decoration: none;
    color: #98ff98;
}

#emaill:hover {
    color: rgb(106, 106, 255);
}

#emaill:active {
    color: rgb(255, 111, 111);
}

.admin-login-link {
    margin-left: 20px;
    font-size: 11px;
    color: #9ab0ff;
    text-decoration: none;
    opacity: 1;
}

.admin-login-link:hover {
    cursor: pointer;
}

/*RESPONSIVE LAYOUT FOR ALL DEVICES*/
@media (max-width: 700px) {

    :root {
        --header-h: 100px;
    }

    html {
        scroll-padding-top: 70px;
    }

    header {
        min-height: 70px;
    }

    .logo {
        width: 200px;
    }

    .navbar {
        flex-direction: row;
        padding: 10px;
        position: absolute;
    }

    .navbar ul {
        justify-content: center;
        gap: 10px;
    }

    .navbar ul li {
        right: 0;
        margin: 0 10px;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 89%;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0);
        position: absolute;
        top: 70px;
        right: 9px;
        padding: 15px;
        border-radius: 10px;
    }


    .navbar .nav-links.active {
        display: flex;
        background: rgb(0, 63, 8);
        box-shadow: 0 2px 8px #000000;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 10px;
        z-index: 9999;
    }

    .logo1 {
        width: 200px;
    }

    .content {
        width: 95%;
        bottom: 7%;
        text-align: center;
        left: 2px;
    }

    .explosive-text,
    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1rem;
        text-align: center;
        padding: 10px;
    }

    .btnBrowse {
        width: 80%;
        margin: 0 auto;
    }

    .about-section h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .about-desc {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .about1 {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: justify;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .about2 {
        display: block;
        flex: 0 0 50%;
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
    }

    .about3 {
        display: block;
        flex: 0 0 50%;
        text-align: right;
        right: 0;
        font-size: 30px;
    }

    .category-section h1 {
        font-size: 2.3rem;
    }

    .category-desc {
        font-weight: 250;
        text-align: center;
        font-size: 20rem;
        line-height: 1.4;
        width: 100%;
        padding: 16px 20px;
        margin: 20px auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        width: 100%;
        height: auto;
        font-size: 1rem;
        gap: 10px;
        text-align: center;
    }

    #logo {
        width: 70px;
        height: 70px;
    }

    #local {
        font-size: 1.3rem;
        margin-right: 13%;
    }

    .email {
        font-size: 1.2rem;
    }

    .cont {
        font-size: 1.2rem;
    }
}

@media (max-width: 900px) {

    :root {
        --header-h: 100px;
    }

    html {
        scroll-padding-top: 70px;
    }

    header {
        min-height: 70px;
    }

    .logo {
        width: 200px;
    }

    .navbar {
        flex-direction: row;
        padding: 10px;
        position: absolute;
    }

    .navbar ul {
        justify-content: center;
        gap: 10px;
    }

    .navbar ul li {
        right: 0;
        margin: 0 10px;
    }

    .about1 {
        width: 100%;
        height: auto;
        font-size: 18px;
    }

    .category-desc {
        width: 90%;
        font-size: 18px;
    }
}